.form_placer {
  background-color: slategrey;
  width: 100%;
  height: auto;
  padding: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
}

input[type="text"],
input[type="password"] {
  width: 600px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: flex;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.enterbtn {
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.enterbtn:hover {
  opacity: 1;
}

form {
  border: 1px solid black;
  border-radius: 8px;
  background-color: lightgray;
}

.form_content {
  padding: 20px;
}

.error_wrapper {
  color: #660000;
  margin-bottom: 40px;
  height: 20px;
  font-size: 15px;
}
