.user__card {
  background-color: rgba(50, 50, 50, 0.2);
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  height: 500px;
  width: 300px;

  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin: 10px;
  border-radius: 8px;

  // transition: transform 500ms ease;
}

.user__card-info {
  text-align: center;
}

.user__cardInfo {
  text-align: center;
  box-sizing: border-box;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: rgba(102, 102, 102, 0.8);
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(100px);
}

.user__header {
  padding-top: 20px;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.user__card:hover {
  background-color: rgba(50, 50, 50, 0.466);
}

.user__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 50px 0px 50px 0px;
  height: 100%;
  width: 100%;
}

/* BUTTONS (изменить потом) */
.custom__btn {
  width: 250px;
  margin-bottom: 20px;
  height: 40px;

  background-color: darkred;
  color: whitesmoke;
}

.custom__btn:hover {
  background-color: rgb(175, 35, 35);
  cursor: pointer;
}

.custom__btn-signOut {
  width: 150px;
  height: 40px;

  background-color: darkred;
  color: whitesmoke;
}
.custom__btn-signOut:hover {
  background-color: rgb(175, 35, 35);
  cursor: pointer;
}

.custom__btn-findUsers {
  width: 150px;
  height: 40px;

  background-color: rgb(32, 139, 0);
  color: whitesmoke;
}
.custom__btn-findUsers:hover {
  background-color: rgb(79, 184, 38);
  cursor: pointer;
}

.custom__btn-sayHi {
  width: 250px;
  margin-bottom: 20px;
  height: 40px;
  border: 0px;

  background-color: rgb(32, 139, 0);
  color: whitesmoke;
}
.custom__btn-sayHi:hover {
  background-color: rgb(79, 184, 38);
  cursor: pointer;
}

.custom__btn-sub {
  width: 150px;
  height: 40px;

  background-color: rgb(0, 49, 139);
  color: whitesmoke;
}
.custom__btn-sub:hover {
  background-color: rgb(38, 65, 184);
  cursor: pointer;
}
