.dataForm-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid black;
}

.registerbtn {
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.form_content {
  padding: 20px;
}

.registerbtn:hover {
  opacity: 1;
}

.hidden {
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
}
