.layout-footer {
  background-color: #114c7c;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-outlet {
  height: auto;
  background-image: url('../../../public/1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1100px;
}