.layout-footer {
  background-color: #114c7c;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-container {
  height: auto;
  background-color: slategrey;
  min-height: 1000px;
}
