.layout-footer{
    background-color: lightblue;
    /* background-color: #CC0000; */
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-container{
    height: auto;
    background-color: slategrey;
}
