.navbar-header {
  //background-color: #114c7c;
  background: rgba(0,0,0,0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

nav {
  height: 180px;
}

.navbar__tools {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
}

img {
  height: 60px;
}

.navbar__navlink {
  color: whitesmoke;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;

}
a {
  text-decoration: none; // Убираем подчеркивание по умолчанию

  &:active {
    text-decoration: none !important; // Убираем подчеркивание в активном состоянии
  }
}

.active {
  color: whitesmoke;
  opacity: 0.5;
  cursor: default;
}

.navbar-linkWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-loggedIn,
.navbar-signout {
  margin-right: 10px;
}
