.navbar-header {
  //background-color: #114c7c;
  background: rgba(0,0,0,0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  padding-left: 10px;
  padding-right: 10px;
}

.navbar__tools {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  width: 500px;
  align-items: center;
  justify-content: space-evenly;
}

img {
  height: 60px;
}

.navbar-navlink {
  color: whitesmoke;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.active {
  color: whitesmoke;
  opacity: 0.5;
  cursor: default;
}

.navbar-linkWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-loggedIn,
.navbar-signout {
  margin-right: 10px;
}
